* {box-sizing:border-box;line-height:2;}
img {max-width:100%;}
a {text-decoration:none;}
.printer-banner {width:100%;background:url("../../images/Mobile-phone-skin-printer/mini-printer4471.jpg") center no-repeat;background-size:cover;}
.printer-banner .banner-text {width:50%;padding:200px 0;color:#FFF;}
.printer-banner .banner-text .title {font-size:40px;font-weight:bolder;}
.printer-banner .banner-text .description {font-size:16px;}
.swiper-title {margin:100px 0 50px;}
.main-title,.main-title h1,.main-title h2 {text-align:center;font-size:40px;padding-bottom:30px;}
.sub-title {font-size:16px;line-height:1.75;text-align:center;color:#999;}
.photo {text-align:center;margin-bottom:50px;}
.photo img {display:block;}
.video-wrapper {max-width:1080px;position:relative;margin:auto;padding:100px 0 50px;}
.play-video {object-fit:cover;width:100%;height:100%;border:0;}
.play-button,.stop-button {position:absolute;top:47.5%;left:47.5%;width:80px;height:80px;background-color:#ccc;border:#fff;border-radius:50%;display:flex;align-items:center;justify-content:center;}
.feature-wrapper {display:grid;grid-gap:25px;grid-template-columns:1fr 1fr 1fr 1fr;padding:100px 0;}
.swiper-pagination-dayn {margin:30px auto 0;text-align:Center;}
.mySwiper2 .swiper-pagination-bullet {width:16px;height:16px;background:#F2F2F2;box-shadow:none;border:none!important;}
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {margin:0 10px;}
.mySwiper2 .swiper-pagination-bullet-active {background:var(--color_primary);box-shadow:none;}
.combo {display:flex;flex-direction:column;align-items:center;transition:all 0.3s;}
.combo-img {width:70px;}
.combo-text {font-size:16px;text-align:center;margin-top:20px;color:#666;white-space:nowrap;}
.combo:hover {transform:translate3d(0,-8px,0);}
.combo:hover .combo-text {font-weight:bold;}
.content-item {display:flex;flex-direction:row;align-items:center;justify-content:space-between;margin-bottom:80px;}
.content-text {width:45%;}
.text-title h3 {margin:0;font-size:40px;padding-bottom:30px;}
.text-description {font-size:16px;line-height:1.75;color:#666;}
.content-img {width:50%;display:flex;align-content:center;justify-content:center;}
.printer-wrapper {width:100%;display:grid;grid-template-columns:1fr 1fr 1fr;}
.printer-item {display:flex;flex-direction:column;align-items:center;}
.printer-item .item-title {font-size:20px;text-align:center;padding:30px 0 15px;}
.printer-item .item-description {font-size:14px;text-align:center;color:#666;}
.printer-poster {position:relative;width:100%;margin:50px 0;background:url("../../images/Mobile-phone-skin-printer/Accessories.jpg") center no-repeat;background-size:cover;overflow:hidden;}
.poster-text {float:right;display:flex;flex-direction:column;justify-content:center;padding:50px;width:50%;}
.poster-text-title {font-size:40px;padding-bottom:25px;}
.poster-text-description p {font-size:16px;color:#666;margin:0;}
.note a {color:#F49040;}
@media only only screen and  (min-width:1367px)  and (max-width:1440px) {.printer-banner .banner-text {top:140px;}
}
@media only screen and (max-width:1279px) {.printer-banner .banner-text {width:560px;max-width:100%;}
.printer-banner .banner-text .title,.main-title,.main-title h1,.main-title h2,.poster-text-title {font-size:32px;}
.video-wrapper {max-width:720px;}
.text-title h3 {font-size:24px;}
.poster-text {width:500px;}
}
@media only screen and (max-width:768px) {.printer-banner .banner-text {padding:120px 0;}
.printer-banner .banner-text .title,.main-title,.main-title h1,.main-title h2,.poster-text-title {font-size:24px;}
.feature-wrapper {grid-template-columns:1fr 1fr;}
.content-item {flex-direction:column;}
.content-img {width:100%;margin-bottom:50px;}
.content-text {width:100%;}
.minus {order:-1;}
.poster-text {width:100%;text-align:right;padding:50px 0;}
}
