@{
    ViewData["Title"] = "Home Page";
}


	<div class="banner">
		<div class="swiper mySwiper">
			<div class="swiper-wrapper">

				<div class="swiper-slide"><a href="Become-agent/index.html"
						title="Welcome to join our global sales network">
						<!---- <picture>
								   <source  media="(max-width: 800px)"  srcset="/System/u/m2507/1916371246.jpg">
								   <source  media="(min-width: 801px)"     srcset="/System/u/m2507/1916261867.jpg">---> </picture>
						<img class="image" src="~/images/sliderUV SCREEN.png"
							alt="Welcome to join our global sales network Srv">

					</a>
				</div>

				<div class="swiper-slide"><a href="Earphone/index.html" title="Wireless headphones">
						<!---- <picture>
								   <source  media="(max-width: 800px)"  srcset="/System/u/m2512/0111584718.jpg">
								   <source  media="(min-width: 801px)"     srcset="/System/u/m2511/291705214.jpg">--->
						<img class="image" src="~/images/slidernew.png" alt="Wireless headphones">

					</a>
				</div>

				<div class="swiper-slide"><a href="Screen-Protector-Cutting-Machine/index.html"
						title="SRV screen protector machine">
						<!---- <picture>
								   <source  media="(max-width: 800px)"  srcset="/System/u/m2512/0111583236.jpg">
								   <source  media="(min-width: 801px)"     srcset="/System/u/m2511/2917023647.jpg">---> </picture>
						<img class="image" src="~/images/ULTRA GUARD.png" alt="SRV screen protector machine">

					</a>
				</div>

			</div>
			<div class="swiper-pagination"></div>
		</div>
	</div>
	<section class="section-container">
		<div class="index-product-list">
			<div class="gallery-item">
				<img src="~/images/srvd4.png" alt="Screen protector">
				<a href="Screen-Protector/index.html" title="screen protector">
					<div class="gallery-overlay">
						<h3 class="gallery-title">Screen Protector</h3>
						<div class="gallery-text">Full range screen protectors include Super D screen protector,9H full
							glue screen protector, privacy screen protector, lens protector,UV curing screen protector
							etc. OEM support.</div>
					</div>
				</a>
			</div>

			<div class="gallery-item">
				<img src="~/images/slidernew.png" alt="Screen protector machine">
				<a href="Screen-Protector-Cutting-Machine/" title="Screen protector machine">
					<div class="gallery-overlay">
						<h3 class="gallery-title">Screen Protector Machine</h3>
						<div class="gallery-text">Making various screen protectors on demand, support cutting of screen
							protectors up to 16 inches, all in one solution to meet the needs of all screen protection
							models.</div>
					</div>
				</a>
			</div>

			<div class="gallery-item"><img src="~/images/sliderUV SCREEN.png" alt="Screen Protector Sheets">
				<a href="Screen-Protector-Cutting-Machine/Hydrogel-Screen-Protector/" title="Screen Protector Sheets">
					<div class="gallery-overlay">
						<h3 class="gallery-title">Screen Protector UV</h3>
						<div class="gallery-text">A wide range of screen protector films designed for screen protector
							machines, including HD, matte, privacy, and self-healing options, to meet diverse needs.
						</div>
					</div>
				</a>
			</div>

			<div class="gallery-item">
				<img src="~/images/ULTRA GUARD.png" alt="Data cable">
				<a href="Data-cable/" title="Data cable">
					<div class="gallery-overlay">
						<h3 class="gallery-title">Ultra Guard</h3>
						<div class="gallery-text">Ultra Guard is a series of high-quality protective cases and
							accessories for mobile phones, tablets, and laptops. It offers excellent protection against
							drops, scratches, and other damages.</div>
					</div>
				</a>
			</div>

			<div class="gallery-item">
				<img src="~/images/CAMERA LENSE.png" alt="Bluetooth headphones">
				<a href="Headphones/" title="Bluetooth Headphones">
					<div class="gallery-overlay">
						<h3 class="gallery-title">Camera Leans</h3>
						<div class="gallery-text"></div>
					</div>
				</a>
			</div>

			<div class="gallery-item"><img src="~/images/AIR GUARD.png" alt="Bluetooth speaker">
				<a href="Bluetooth-Speaker/" title="Bluetooth speaker">
					<div class="gallery-overlay">
						<h3 class="gallery-title">Air Guard</h3>
						<div class="gallery-text">Air Guard.</div>
					</div>
				</a>
			</div>
		</div>
		</div>
	</section>


	<section class="new-arrival-bg section-container">
		<div class="wrapper">
			<div class="new-arrival  wow fadeInUp">
				<div class="new-arrival-txt">
					<h1 class="heading">MTB-CUT 180TPro<br>Screen Protector Cutting Machine</h1>
					<div class="description">As a new model of screen protector cutting machine, the MTB-CUT 180TPro is
						designed to meet the needs of devices across all screen sizes—from small smartwatches to large
						PC monitors. It also comes with enhanced convenience features, such as mobile app connectivity
						and optional automatic parameter adjustment.</div>
					<div class="more-btn"><a href="Screen-Protector/241-2.html">More detail</a></div>
				</div>
				<picture class="new-arrival-pic"><img src="~/images/srvmachine.png"
						alt="MTB-CUT 180TPro screen protector machine"></picture>
			</div><!--/new-arrival-->
		</div>
	</section>


	<section class="section-container">
		<div class="wrapper">
			<div class="index-video">
				<div class="video-player">
					<div class="play-container">
						<iframe width="560" height="315"
							src="https://www.youtube.com/embed/5CDcMoWJTRM?si=hgnIWJ5nq_JjJpt3"
							title="MTB-CUT 180TPro Screen Protector Machine" frameborder="0"
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
							referrerpolicy="strict-origin-when-cross-origin" allowfullscreen=""></iframe>
					</div><!--play-container-->
				</div>
				<div class="video-sum">
					<h3>MTB-CUT 180TPro Screen Protector Machine</h3>
					<p class="video-des">As SRV's latest device. The MTB-CUT 180TPro screen protector machine not only
						supports a larger cutting range, but also adds more innovative features, such as optional
						automatic adjustment of cutting parameters and cutting of 7H superhard materials.</p>
					<ul class="video-list">

						<li data-id="136" data-lang="en" class="video-item active">
							<img src="System/u/m2512/1215171725.jpg" alt="MTB-CUT 180TPro Screen Protector Machine"
								title="MTB-CUT 180TPro Screen Protector Machine">
						</li>

						<li data-id="135" data-lang="en" class="video-item ">
							<img src="System/u/m2510/1812493991.jpg" alt="Multifunctional Phone Holder Screen Protector"
								title="Multifunctional Phone Holder Screen Protector">
						</li>

						<li data-id="134" data-lang="en" class="video-item ">
							<img src="System/u/m2506/0314485215.jpg"
								alt="SRV’s new store in SM City Caloocan the Philippines"
								title="SRV’s new store in SM City Caloocan the Philippines">
						</li>

						<li data-id="133" data-lang="en" class="video-item ">
							<img src="System/u/m2505/191544235.jpg" alt="AG Matte Screen Protector"
								title="AG Matte Screen Protector">
						</li>

					</ul>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="index-about-bg">
			<div class="wrapper">
				<div class="index-culture">
					<div class="heading">Make lt Easier To Use<br>Better Life</div>
					<div class="culture-content">We believe technology should simplify life and bring joy to everyday
						experiences. Our commitment is to craft intuitive,delightful products that seamlessly integrate
						into daily routines, enhancing the lives of people worldwide.</div>
					<div class="more-btn"><a href="About-us/index.html">More detail</a></div>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="index-agent-bg">
			<div class="wrapper">
				<div class="index-agent">
					<div class="heading">Become a SRV Agent</div>
					<div class="agent-content">
						<p>With years of industry expertise, SRV has earned a strong reputation in the mobile phone
							accessories industry. We are commited to be "A brand that satisfies consumers and makes
							money for dealers".We offer a comprehensive franchise strategy, marketing consultation, and
							promotional support</P>
						<p><strong>Welcome to join our global sales network</strong></p>
					</div>
					<div class="more-btn"><a href="Become-agent/index.html">Join Our Sales Network</a></div>
				</div>
			</div>
		</div>
	</section>


	<section class="section-container">
		<div class="wrapper">
			<h3 class="wrapper-title">Recent Post</h3>
			<ul class="index-news-list">

				<li>
					<div class="news-box">
						<div class="news-box-i">
							<img src="System/u/m2601/2114522881.jpg" alt="Notice of Chinese New Year Holiday Schedule">
						</div>
						<div class="news-box-t">
							<a class="new-title" href="News/378.html">Notice of Chinese New Year Holiday Schedule</a>
							<div class="news-box-d">As the Chinese New Year holiday is approaching, we would like to
								inform you of our holiday schedule and make necessary arrangements with you in advance.
							</div>
							<div class="news-more"><a href="News/378.html">More details</a></div>
						</div>
					</div>
				</li>

				<li>
					<div class="news-box">
						<div class="news-box-i">
							<img src="System/u/m2601/1014063281.jpg"
								alt="Notice on Product Discontinuation and Trade-In Program">
						</div>
						<div class="news-box-t">
							<a class="new-title" href="News/377.html">Notice on Product Discontinuation and Trade-In
								Program</a>
							<div class="news-box-d">Due to the discontinuation of certain critical components, the SRV
								MTB-CUT 180A screen protector cutting machine has officially been discontinued.</div>
							<div class="news-more"><a href="News/377.html">More details</a></div>
						</div>
					</div>
				</li>

				<li>
					<div class="news-box">
						<div class="news-box-i">
							<img src="System/u/m2512/1711254252.jpg"
								alt="Key Upgrades of the MTB-CUT 180TPro Screen Protector Machine">
						</div>
						<div class="news-box-t">
							<a class="new-title" href="News/376.html">Key Upgrades of the MTB-CUT 180TPro Screen
								Protector Machine</a>
							<div class="news-box-d">The MTB-CUT 180TPro Screen Protector Cutting Machine was developed
								to address these evolving demands. In this guide, we compare the 180TPro with
								previous-generation cutting machines and explain how its upgrades translate into real
								business value.</div>
							<div class="news-more"><a href="News/376.html">More details</a></div>
						</div>
					</div>
				</li>

				<li>
					<div class="news-box">
						<div class="news-box-i">
							<img src="System/u/m2511/2913425092.jpg" alt="Meeting SRV at Philippines SME EXPO 2025">
						</div>
						<div class="news-box-t">
							<a class="new-title" href="News/375.html">Meeting SRV at Philippines SME EXPO 2025</a>
							<div class="news-box-d">We are pleased to share with you that the SRV brand, along with
								intelligent screen protection solutions and mobile accessories, successfully showcased
								its newest innovations at the 17th Philippine SME Business Expo.</div>
							<div class="news-more"><a href="News/375.html">More details</a></div>
						</div>
					</div>
				</li>

			</ul>
		</div>
	</section>
